header,
header .navbar-nav .nav-link:hover::after {
    width: 100%
}

header {
    height: auto;
    padding: 5px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgb(35 2 37)
}

header .navbar-toggler {
    filter: brightness(10.5)
}

.mainLogo {
    width: 200px
}

@font-face {
    font-family: Bebas-Neue-Pro;
    src: url(../../../public/assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf)
}

header .navbar-nav .nav-link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #d7d7d7;
    position: relative;
    letter-spacing: .9px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: Bebas-Neue-Pro !important
}

header .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgb(255 255 255 / 0%) 0, #007ee5 50%, rgb(255 255 255 / 0%) 100%);
    transform: translate(-50%, -50%);
    transition: .5s
}

@media screen and (min-device-width:200px) and (max-device-width:1200px) {
    .mainLogo {
        width: 155px
    }

    header .navbar-nav .nav-link {
        font-size: 12px
    }

    .btn.btn-primary-btn,
    .btn.btn-primary-outline-btn {
        font-size: 12px;
        padding: 9px !important
    }
}

@media screen and (min-device-width:992px) and (max-device-width:4200px) {

    #offcanvasNavbar-expand-lg,
    .offcanvas-backdrop {
        display: block !important
    }
}

.mainLogo {
    width: 200px
}