/* =============== Blog css start ===================== */

/* .blog_poster {
    position: relative;
    background-image: url(../../../../public/assets/images/blog/poster.png);
    height: 30vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.blog_poster_content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog_poster_content p {
    color: rgba(165, 165, 165, 1);
    margin-bottom: 5px;
    font-size: 20px;
} */

.border_blog {
    position: relative;
}

.blog .border_blog::after {
    position: absolute;
    top: 35px;
    left: 60px;
    content: '';
    width: 80%;
    display: block;
    height: 3px;
    background: linear-gradient(90deg, rgba(142, 142, 142, 0) 0%, #FFFFFF 30.81%, #FFFFFF 72.36%, rgba(142, 142, 142, 0) 100%);
}

.featured_news .content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: end;
    padding: 20px;
    justify-content: center;
}

.featured_news .content .date_post {
    background: white;
    color: #282828;
    padding: 6px 11px;
    border-radius: 4px;
}

.featured_news .read_more {
    text-decoration: none !important;
    color: rgba(88, 174, 255, 1) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured_news .blog_bg_img {
    border-radius: 10px;
    border: 1px solid rgb(49, 49, 49);
}

.blog_card_img {
    background: white;
    color: black;
}

.blog_card_img>div {
    flex-wrap: wrap;
}

.blog_card_img .blg_icn {
    height: 30px;
    width: auto;
}

.blog_card_img {
    padding: 12px;
}

.blog_card_img,
.blog_card_img a {
    font-size: 12px;
}

.blog_card {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.blog h5 {
    font-weight: 300;
}

.blog_card>img.img-fluid.w-100 {
    height: 208px;
}

.blog_card_img p.mt-3 {
    height: 36px;
}

.press_card {
    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
}

.bedge {
    color: rgba(88, 174, 255, 1);
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 14px 7px;
    margin-bottom: 10px;
}

span.social_icn {
    background: white;
    border-radius: 50%;
    margin-right: 12px;
    padding: 8px;
    color: black;
    font-size: 19px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.social_icn i {
    transition: .4s;
}

span.social_icn:hover i {
    transform: scale(1.2);
}

.categories_box {
    background: rgba(255, 255, 255, 0.1);
    padding: 15px 12px;
}

.blog .swiper-pagination {
    position: inherit;
}

.swiper-pagination-bullet-active {
    --swiper-pagination-color: linear-gradient(89.6deg, #05D6D9 0.3%, #F907FC 99.65%);
}

.blog .swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-color: gray;
    --swiper-pagination-bullet-inactive-opacity: 0px;
    border: 1px solid white;
    width: 15px;
    height: 15px;
}

.blog .buttom_line::after {
    content: '';
    background: linear-gradient(90deg, #26F4F9 0%, #F30CFC 100%);
    height: 1px;
    width: 45%;
    display: block;
    bottom: -4px;
    position: absolute;
}

.blog p {
    font-family: 'Acumin-RPro';
}

.blog_card_img span.fs-4 {
    width: auto;
}

.blog_card_img div.px-2 {
    width: 75%;
}

@media screen and (min-device-width: 200px) and (max-device-width: 768px) {
    .blog h5 {
        font-size: 12px;
    }

    .blog p {
        font-size: 10px;
        letter-spacing: .5px;
    }

    .featured_news .content .date_post {
        font-size: 9px;
        padding: 6px 9px;
    }

    .featured_news .read_more {
        font-size: 12px;
    }

    .blog .mask {
        z-index: 0;
        border-radius: 0px;
        box-shadow: 0px 0px 10px 6px #1a1a1a;
    }

    .blog .buttom_line::after {
        width: 100%;
    }
}

/* =============== Blog css end ===================== */

/* =============== Blogdetails css start ============== */

.blog_details_poster img {
    border: 1px solid rgba(159, 159, 159, 0.2);
    border-radius: 10px;
}

.blog_details .detail_content p {
    color: rgb(175, 175, 175);
    font-size: 14px;
}

.uplaod_img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgba(72, 72, 72, 0.5);
    border: 1px solid rgba(159, 159, 159, 0.2);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.uplaod_img input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.uplaod_img img {
    position: absolute;
}

.content_box {
    background: linear-gradient(103.85deg, rgba(29, 195, 221, 0.1) 0.91%, rgba(249, 7, 252, 0.1) 98.82%);
    border: 1px solid rgba(159, 159, 159, 0.2);
    padding: 24px;
    border-radius: 10px;
}

.content_box p {
    letter-spacing: .5px;
}

.a {
    color: rgba(192, 192, 192, 1);
    font-size: 14px;
}

.blog_details .about_section {
    background: linear-gradient(103.85deg, rgba(29, 195, 221, 0.1) 0.91%, rgba(249, 7, 252, 0.1) 98.82%);
}

.blog_details .about_section>div {
    padding: 18px;
    border: 1px solid rgba(159, 159, 159, 0.2);
    border-radius: 16px;
    background-image: url(../../../../public/assets/images/blog/Frame.png);
    background-size: 100% 100%;
}

.about_section .text-decoration-none.d-contents {
    color: rgb(172, 172, 172) !important;
}

.buttom_line::after {
    content: '';
    background: linear-gradient(90deg, #26F4F9 0%, #F30CFC 100%);
    height: 1px;
    width: 100%;
    display: block;
    bottom: -4px;
    position: absolute;
}

.btn-short {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 3px 12px 0px;
    font-size: 14px;
    color: rgba(194, 194, 194, 1);
    transition: 0.4s;
}

.btn-short:hover {
    color: rgb(228, 228, 228);
    background: rgba(207, 207, 207, 0.1);
    border: 1px solid white;
}

.dp_img_wrapper {
    background: #192222;
    border-radius: 8px;
    padding: 8px;
}

.blog_details textarea {
    --bs-border-color: rgba(255, 255, 255, 0.2);
}

.blog_details textarea::placeholder {
    color: rgb(196, 196, 196);
}

.preview_icn {
    width: 90px;
    height: auto;
}

.preview_img {
    width: auto;
    height: 100%;
}

@media screen and (min-device-width: 200px) and (max-device-width: 768px) {
    .blog_details h3 {
        font-size: 14px;
    }

    .blog_details span {
        font-size: 12px;
    }

    .blog_details p {
        font-size: 12px;
        letter-spacing: .5px;
    }

    .uplaod_img {
        min-height: 20vh;
    }
}

/* comment box */
.comment_box .comment_wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.comment_box .comment {
    color: rgb(193, 193, 193);
    margin-top: 10px;
    font-size: 14px;
}

.comment_box .p_p {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid gray;
}

.comment_box .name {
    font-size: 14px;
}

.like {
    display: flex;
    cursor: pointer;
    font-size: 18px;
}

.rply {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.comment_box .time {
    margin-top: 2px;
    font-size: 12px;
    color: gray;
}

.form_control {
    width: 100%;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 0.375rem;
}

.comment-input {
    border: 1px solid rgb(68, 68, 68);
    padding: 20px;
    border-radius: 10px;
}

.fix_box {
    height: 450px;
    overflow-y: scroll;
}

.read_more {
    text-align: end;
    color: blue;
    cursor: pointer;
}

/* ======================== blogdetails css end ================================= */

/* ===================== Press css start ============================= */
.press_card>img {
    border-radius: 10px;
    border: 1px solid #373737;
    height: 208px;
    width: 100%;
}

.press_card>p {
    font-size: 12px;
}

/* ===================== Press css end =============================== */

input:focus,
button:focus,
select:focus,
textarea {
    box-shadow: none !important;
}